body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.github-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.search-user {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.search-user input {
  padding: 5px 10px;
  font-size: 22px;
  border-radius: 5px;
  width: 300px;
}

.search-user button {
  font-size: 22px;
  color: white;
  background-color: #ef233c;
  border: none;
  padding: 10px 12px;
  border-radius: 10px;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  border: 1px solid lightgray;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 30px;
  width: max-content;
}

.user-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
}

.profile-img img {
  width: 150px;
  height: 150px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  font-size: 22px;
}

.profile-info h1 {
  margin: 0;
  color: #003049;
}

.profile-info p {
  margin: 0;
}

.info-title {
  font-weight: 600;
}

.info-title.click {
  cursor: pointer;
}

.graph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.graph p {
  margin: 0;
  font-size: 22px;
}

.repos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  font-size: 22px;
}

.repo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid #495057;
  border-radius: 10px;
  gap: 10px;
  box-sizing: border-box;
  padding: 20px;
  width: 800px;
}

.repo h3 {
  margin: 0;
  color: #415a77;
}

.repo p {
  margin: 0;
}

.repo p a {
  text-decoration: none;
  color: black;
}

.followers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.followers-profile {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  border: 1px solid #003566;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px;
  width: max-content;
  width: 800px;
}

.follower-profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  font-size: 22px;
}

.followers-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.follower-profile-info a {
  text-decoration: none;
  color: black;
}

.follower-profile-info h1 {
  margin: 0;
}

.follower-profile-info p {
  margin: 0;
}

.follower-profile-info p a {
  text-decoration: none;
  color: black;
}

.error {
  font-size: 42px;
  color: red;
}

@media screen and (max-width: 992px) {
  .styles-module_calendar__sT1ND {
    width: 700px;
  }
}

@media screen and (max-width: 880px) {
  .repo {
    width: 650px;
  }

  .followers-profile {
    width: 650px;
  }
}

@media screen and (max-width: 820px) {
  .styles-module_calendar__sT1ND {
    width: 500px;
  }
}

@media screen and (max-width: 730px) {
  .repo {
    width: 550px;
  }

  .followers-profile {
    width: 550px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 620px) {
  .styles-module_calendar__sT1ND {
    width: 400px;
  }

  .user-profile {
    flex-direction: column;
  }

  .repo {
    width: 450px;
  }

  .followers-profile {
    width: 450px;
  }
}

@media screen and (max-width: 520px) {
  .profile {
    padding: 15px;
  }

  .styles-module_footer__ZQ-Bl {
    font-size: 10px;
  }

  .repo {
    width: 330px;
  }

  .followers-profile {
    width: 330px;
  }

  .follower-profile-info h1 {
    font-size: 36px;
  }

  .follower-profile-info p {
    font-size: 18px;
  }
}

@media screen and (max-width: 480px) {
  .search-user {
    flex-direction: column;
  }

  .styles-module_calendar__sT1ND {
    width: 320px;
  }
}
